In [3]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 3.8 MB/s
Collecting distro
  Downloading distro-1.6.0-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.6.0 tabula-py-2.3.0

In [1]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (0.8.9)

In [20]:
from tabula import read_pdf
from tabulate import tabulate

In [17]:
df = read_pdf("test.pdf",pages="all",multiple_tables= True)
print(tabulate(df))

------------------------------  ----------------------------  ----------------------------  --------------------------------  --------------------------------
0                 Maroc         0    1 554                    0    1 355                    0    4 128                        0    4 507
1    Afrique de l’Ouest         1      575                    1      691                    1    1 574                        1    2 336
2                 Total         2    2 129                    2    2 046                    2    5 702                        2    6 843
Name: En unités, dtype: object  Name: T3 2020, dtype: object  Name: T3 2021, dtype: object  Name: Fin sept-20, dtype: object  Name: Fin sept-21, dtype: object
------------------------------  ----------------------------  ----------------------------  --------------------------------  --------------------------------

In [16]:
df[0]

            En unités T3 2020 T3 2021 Fin sept-20 Fin sept-21
0               Maroc   1 554   1 355       4 128       4 507
1  Afrique de l’Ouest     575     691       1 574       2 336
2               Total   2 129   2 046       5 702       6 843

In [22]:
df[0].to_csv("tabularesult.csv", encoding="utf-16")